log_file: {{ log_file }}
log_level: {{ log_level }}
database:
  db_bucket: {{ db_bucket }}
  db_measurement: {{ db_measurement  }}
  db_token: {{ db_token }}
  db_org: {{ db_org }}
  db_host: influxdb
  db_port: {{ db_port }}
source_ips:
  - address: {{ ansible_default_ipv4.address }}
    alias: NAT
{% if source.NONAT is defined %}  - address: {{ source.NONAT }}
    alias: NONAT
{% endif %}
{% if source.GEN34 is defined %}  - address: {{ source.GEN34 }}
    alias: GEN34
{% endif %}
sockets:
{% for i in sockets %}
  - domain: {{ i['domain'] }}
    port: {{ i['port'] }}
{% endfor %}
