[Unit]
Description=Armor TNC, Armor services connectivity test
Wants=armor_tnc.timer

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/armor_tnc -d

[Install]
WantedBy=multi-user.target
